<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="googleBooksApiKey" value="AIzaSyC8u4x7Q_1b_mNDiGfLHpBcKZfQDwwtU18"/>
    <add key="goodreadsApiKey" value="HcOXnppJHzuVXB0dUKwOdA"/>
    <add key="goodreadsApiSecret" value="KfJcDzBbCCTPuuthdviQf8DgEtUd9ZLTOJ4XfFFeN8"/>
  </appSettings>
</configuration>